.ec-higher-query {
  display: inline-block;

  .ec-higher-query-btn {
    padding: 0;

    .ec-higher-query__icon {
      position: relative;
      left: -4px;
      top: 1px;
    }
  }
}

.ec-higher-query-panel__wrapper {
  display: flex;
  align-items: center;

  .ant-drawer-content-wrapper {
    height: auto !important;
    margin-top: -10%;

    .ant-drawer-content {
      border-radius: @ecRadius 0 0 @ecRadius;

      .ant-drawer-header {
        padding: 8px 12px;
      }

      .ant-drawer-body {
        padding: 0;
        height: calc(100% - 39px);
        display: flex;
        flex-flow: column;

        .ec-higher-query-panel__body {
          flex: 1;
          display: flex;

          .ec-higher-query-items__box {
            flex: 1;
            position: relative;

            .ec-higher-query-items {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              overflow: auto;
              padding: 8px 12px;
            }
          }

          .ec-higher-query-scheme {
            width: 180px;
            border-left: 1px solid #e8e8e8;
            display: flex;
            flex-flow: column;

            .ec-higher-query-scheme__title {
              border-bottom: 1px solid #e8e8e8;
              padding: 4px;
              text-align: center;
              color: #909399;
              background: #f4f4f5;
            }

            .ec-higher-query-scheme__box {
              flex: 1;
              position: relative;

              .ec-higher-query-scheme-items {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                overflow: auto;

                .ec-higher-query-scheme-item {
                  display: flex;
                  align-items: center;
                  padding: 4px 12px;
                  margin: 4px 0;

                  .ec-higher-query-scheme-item-icon {
                    color: #909399;
                    margin-right: 4px;
                  }

                  .ec-higher-query-scheme-item__delete {
                    margin-left: auto;
                    color: #909399;
                    display: none;

                    &:hover {
                      color: #1890ff;
                    }
                  }

                  &:hover {
                    cursor: pointer;
                    background: #e6f7ff;

                    .ec-higher-query-scheme-item__delete {
                      display: inline-block;
                    }
                  }
                }
              }
            }
          }
        }

        .ec-higher-query-panel__footer {
          display: flex;
          padding: @ecPanelPadding;
          border-top: 1px solid #e8e8e8;
        }
      }
    }

    .ant-drawer-close {
      width: 38px;
      height: 38px;
      line-height: 38px;
    }
  }
}

.ec-higher-query-modal-content {
  height: 100%;
  padding: 24px;
}
